/* These 2 lines are because the new fancybox hates html having overflow-y set to scroll.  It makes a second scrollbar upon opening. */
.fancybox-lock .fancybox-overlay{ overflow:auto !important; overflow-y:hidden !important; }
body							{ margin-right:0px !important; }
/*************************************************************************************************************************************/

.album-return						{ display:flex; justify-content:space-between; align-items:flex-start; }
.album-nav							{ text-align:right; margin-bottom:30px; }
.album-nav ul						{ display:inline-flex; align-items:flex-start; }
.album-nav li						{ display:block; margin:0; }
.album-nav li:nth-child(2)			{ padding-left:10px; margin-left:10px; border-left:1px solid #ccc; }

.album-photo-container				{ }
.album-photo-container > *			{ display:block; width:100%; }
.album-photo-image					{ margin-bottom:30px; }
.album-photo-image img				{ display:block; margin:0 auto; }

ul.album-thumbnails					{ clear:both; display:flex; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap; margin:0 0 0 -1%; }
ul.album-thumbnails li				{ display:block; margin:0 0 1% 1%; width:100%; }
ul.album-thumbnails img				{ display:block; margin:0 auto; }

.album-split						{ }
.album-split:after					{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
.album-split > *					{ display:block; width:100%; }
.album-split-left					{ }
.album-split-right					{ position:relative; }

#ajax-loader						{ position:absolute; top:30px; left:50%; z-index:99; display:none; }

.album-image-content				{ padding-top:30px; }
.album-image-content:after			{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }

.album-preview-image				{ text-align:center; }
.album-preview-image img			{ display:inline-block; margin:0 auto; }

.swiper > li					{ display:none; }
.swiper > li:first-child		{ display:block; }

@media(min-width:901px){
	.album-split-left					{ max-width:40%; float:left; clear:left; }
	.album-split-right					{ max-width:55%; float:right; clear:right; }
}
@media(max-width:900px){
	.album-preview					{ margin-top:30px; }
	.album-nav							{ text-align:center; margin-top:15px; }
}

@media(min-width:1101px){
	ul.album-thumbnails.cols-6 li		{ max-width:15.666666%; }
	.album-photo-container.photo-shared .album-photo-image	{ max-width:60%; }	
	.album-photo-content				{ max-width:35%; }
}
@media(min-width:901px){
	ul.album-thumbnails.cols-5 li		{ max-width:19%; }
	.album-photo-container				{ display:flex; justify-content:space-between; align-items:flex-start; }
}
@media(min-width:901px) and (max-width:1100px){
	ul.album-thumbnails.cols-6 li		{ max-width:19%; }
	.album-photo-container.photo-shared .album-photo-image	{ max-width:50%; }	
	.album-photo-content				{ max-width:45%; }
}
@media(min-width:601px) and (max-width:900px){
	ul.album-thumbnails.cols-6 li,
	ul.album-thumbnails.cols-5 li		{ max-width:24%; }
}
@media(min-width:601px){
	ul.album-thumbnails.cols-4 li		{ max-width:24%; }
}
@media(min-width:401px) and (max-width:600px){
	ul.album-thumbnails.cols-6 li,
	ul.album-thumbnails.cols-5 li,
	ul.album-thumbnails.cols-4 li		{ max-width:32.3333333%; }
}
@media(min-width:401px){
	ul.album-thumbnails.cols-3 li		{ max-width:32.3333333%; }
	ul.album-thumbnails.cols-2 li		{ max-width:49%; }
}
@media(max-width:400px){
	ul.album-thumbnails.cols-6 li,
	ul.album-thumbnails.cols-5 li,
	ul.album-thumbnails.cols-4 li,
	ul.album-thumbnails.cols-3 li		{ max-width:49%; }
}



