#gallery_thumbs							{ list-style:none; margin:0 !important; }
#gallery_thumbs:after					{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
#gallery_thumbs li						{ margin:1.3% 0 0 1.3% !important; float:left; width:24%; }
#gallery_thumbs a						{ display:block; text-decoration:none; padding-bottom:15%; position:relative; }
#gallery_thumbs a:hover					{ text-decoration:none; }
#gallery_thumbs img						{ width:100%; display:block; }
#gallery_thumbs h4						{ width:100%; padding:4%; margin:0; background:#191919; color:#FFF; font-size:16px; line-height:20px; position:absolute; bottom:0; left:0;
										-webkit-transition: all 150ms ease;
										-moz-transition: all 150ms ease;
										-ms-transition: all 150ms ease;
										-o-transition: all 150ms ease;
										transition: all 150ms ease;
										}
#gallery_thumbs a:hover h4				{ background:#0d0d0d; padding-bottom:7%; }										

@media (min-width:600px) {
	#gallery_thumbs li:nth-child(4n+1)	{ margin-left:0 !important; }
}

@media (max-width:599px){
	#gallery_thumbs h4					{ font-size: 14px; }
}

@media (max-width:599px) and (min-width:400px){	
	#gallery_thumbs li					{ width:32.46%; }
	#gallery_thumbs li:nth-child(3n+1)	{ margin-left:0 !important; }
}

@media (max-width:399px) and (min-width:321px){
	#gallery_thumbs li					{ width:49.35%; }
	#gallery_thumbs li:nth-child(2n+1)	{ margin-left:0 !important; }
}

@media (max-width:320px){
	#gallery_thumbs li					{ margin-left:0 !important; margin-top:2.6% !important; width:100%; }
}